doctype html
html
    head
        link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css')
        link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css')
        link(rel='stylesheet', href='/lib/L.Geosearch-developer/src/css/l.geosearch.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
        script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
        script(src='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js')
        script(src='/lib/L.Geosearch-developer/src/js/l.control.geosearch.js')
        script(src='/lib/L.Geosearch-developer/src/js/l.geosearch.provider.openstreetmap.js')

    body
        block content
